* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  @font-face {
    font-family: "Game-of-Thrones";
    src: url("../assets/font/Game-of-Thrones.ttf");
  }
  
  :root {
    --primary-background-color: #389fcd;
    --secondary-background-color: #121822;
    --primary-color: #bdbbba;
    --primary-font: "Game-of-Thrones";
  }

  .containCard {
    margin-top: 100px;
  }

  .character-list {
    display: flex;
    overflow-x: auto;

    margin-left: 0.5rem;
}

  .character-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }

  .characterImg {
    width: 30vh;
    height: auto;
  }