* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  @font-face {
    font-family: "Game-of-Thrones";
    src: url("../assets/font/Game-of-Thrones.ttf");
  }
  
  :root {
    --primary-background-color: #389fcd;
    --secondary-background-color: #121822;
    --primary-color: #bdbbba;
    --primary-font: "Game-of-Thrones";
  }

  .character-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .characterCard {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 1rem;

  }

  .containImg {
    width: 15rem;
    height: auto;

  }

  .characterImg {
    width: 15rem;
    height: auto;
    margin-bottom: 0.5rem;

  }

  .containDescription {
    display: flex;
    max-width: 15rem;
    flex-direction: column;
    gap:0.5rem;
    margin-top: 0.5rem;
  }

  .titleCard {
    border-bottom: 3px solid var(--primary-background-color);
    padding-bottom: 0.5rem;
  }

  @media screen and (min-width: 767px) {

    .character-list {
      flex-direction: inherit;
      flex-wrap: wrap;
      
    }

    .characterCard {
      margin-left: 1rem;
      min-height: 38rem;
      justify-content: flex-start;
    }




  }

  